.text-effect--container h2 {
    font-family: fantasy, monospace, sans-serif;
}
.text-effect--container {
    height: 60em;
}
@media (max-width: 768px) {
	.text-effect--container {
		font-size: 9.5px;
	}
}
a, a:hover {
	text-decoration: none;
}
a:hover {
	transition: all 0.3s ease-in;
	transform: scale(1.03) !important;
}
.sp-content {
	position: relative;
	height: 100%;
    top: 6.5em;
}

.sp-container h2 {
	position: absolute;
	width: 100%;
	font-size: 6em;
	color: transparent;
}

.sp-container h2 * {
	opacity: 0;
	margin-bottom: 0.5em;
}

.frame-1 {
	-webkit-animation: cycle1 15s ease-in infinite;
			animation: cycle1 15s ease-in infinite;
}
.frame-2 {
	-webkit-animation: cycle1 15s ease-in infinite;
			animation: cycle1 15s ease-in infinite;
			animation-delay: 2.5s;
}
.frame-3 {
	-webkit-animation: cycle1 15s ease-in infinite;
			animation: cycle1 15s ease-in infinite;
			animation-delay: 5s;
}
@-webkit-keyframes cycle1 {
	0% {
	opacity: 0;
	text-shadow: 0 0 2.5rem #fff;
	-webkit-transform: scale(1.3);
	}
	3%, 13% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
	}
	18% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(0);
	}
	30% {
	opacity: 0;
	text-shadow: 0 0 0 #fff0;
	}
}
@keyframes cycle1 {
	0% {
	opacity: 0;
	text-shadow: 0 0 2.5rem #fff;
			transform: scale(1.3);
	}
	3%, 13% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
			transform: scale(1);
	}
	18% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
			transform: scale(0);
	}
	30% {
	opacity: 0;
	text-shadow: 0 0 0 #fff0;
	}
}
.frame-4 {
	color: transparent;
	-webkit-animation: cycle4 15s ease forwards;
			animation: cycle4 15s ease forwards;
}
@-webkit-keyframes cycle4 {
	0% {
	font-size: 0;
	text-shadow: 0 0 0.5em #fff;
	}
	50%, 100% {
	opacity: 1;
	top: 1em;
	font-size: 3em;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
	}
	90% {
		top: 3em;
		-webkit-transform: scaleY(0.8);
	}
}
@keyframes cycle4 {
	0% {
	font-size: 0;
	text-shadow: 0 0 0.5em #fff;
	}
	50%, 100% {
	opacity: 1;
	top: 1em;
	font-size: 3em;
	text-shadow: 0 0 1px #fff;
	transform: scale(1);
	}
	94% {
		top: 3em;
		transform: scaleY(0.7);
	}
}

.frame-51 {
	-webkit-animation: cycle51 15s ease-in forwards;
			animation: cycle51 15s ease-in forwards;
			animation-delay: -2s;
	font-size: 1.1em;
}

@-webkit-keyframes cycle51 {
	48% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	55% {
	opacity: 0.8;
	text-shadow: 0 0 0.5rem #fff;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	}
	60%, 100% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
}

@keyframes cycle51 {
	46% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	51% {
	opacity: 0.8;
	text-shadow: 0 0 0.5rem #fff;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	}
	56%, 100% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
}
.frame-52 {
	-webkit-animation: cycle51 15s ease-in forwards;
			animation: cycle51 15s ease-in forwards;
			animation-delay: -1s;
	font-size: 1.2em;
}
.frame-53 {
	-webkit-animation: cycle51 15s ease-in backwards;
			animation: cycle51 15s ease-in backwards;
	font-size: 1.3em;
	color: #fed136;
}
.button a {
	position: absolute;
    top: 39.5em;
    padding-top: 4em;
    margin-left: 5em;
}
.button {
	font-family: monospace, sans-serif;
}

.button a:hover i {
	-webkit-transform: translateY(0.5em);
			transform: translateY(0.5em);
}

.button a:hover p {
	-webkit-transform: scale(1.5);
			transform: scale(1.5);
	-webkit-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
}

.button a i {
	position: absolute;
	height: 4em;
	width: 4em;
	margin: 3em -1em;
	top: -6em;
	border-radius: 50%;
	border: thin solid #fff;
	background: #000;
	box-sizing: border-box;
}

.button a i::before {
	content: '';
	opacity: 0;
	position: absolute;
	height: 4em;
	width: 4em;
	top: 0;
	left: 0;
	border-radius: 50%;
	box-shadow: 0 0 0 0 #fff5;
	-webkit-animation: sdb03 3s infinite;
	box-sizing: border-box;
	-webkit-animation: cycle-wave 3s infinite;
			animation: cycle-wave 3s infinite;
}

@-webkit-keyframes cycle-wave {
	30% {
	opacity: 1;
	}
	60%, 100% {
	box-shadow: 0 0 0 4rem #fff0;
	}
}
@keyframes cycle-wave {
	30% {
	opacity: 1;
	}
	60%, 100% {
	box-shadow: 0 0 0 4rem #fff0;
	}
}
.button a i::after {
	content: '';
	position: absolute;
	height: 1em;
	width: 1em;
	top: 50%;
	left: 50%;
	margin: -0.75em 0 0 -0.5em;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
	-webkit-animation: cycle-button 15s ease-in backwards infinite;
			animation: cycle-button 15s ease-in backwards infinite;
}

@-webkit-keyframes cycle-button {
	74%, 81%, 88%, 95% {
	-webkit-transform: rotate(-45deg);
	}
	77%, 91%, 97% {
	-webkit-transform: scale(2) rotate(-45deg) translate(-1em, 1em);
	}
}
@keyframes cycle-button {
	74%, 81%, 88%, 95% {
			transform: rotate(-45deg);
	}
	77%, 91%, 97% {
			transform: scale(2) rotate(-45deg) translate(-1em, 1em);
	}
}